@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@400;600;700;800;900&family=Work+Sans:wght@400;600;700;800&display=swap');


/* shared style */
body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

.orange {
    color: #FF5400;
}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;

}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    padding: 13px 34px;

}

/* nav style */

.nav-container img {
    width: 47px;
    height: 56px;
}

.nav-container {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 50%;
}

.nav-container p {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

nav {
    display: flex;

}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.item-container a {
    color: #424247;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
}

/* head style */

header {
    max-width: 1170px;
    margin: 0 auto;
}


/* banner section */

.banner-container {
    max-width: 1170px;
    height: 500px;
    margin: 100px auto;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    width: 596px;
    padding-top: 105px;
    margin: 0 auto;

}

.banner-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner-input {
    display: flex;
    gap: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    max-width: 750px;
    margin: 0 auto;
}

/* main style */

main {
    max-width: 1170px;
    margin: 0 auto;
}

/* popular tour plan */

.tour-plan {
    display: flex;
    gap: 50px;
}

.tour-plan-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tour-plan-conclusion {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
}

.tour-plan-img{
    margin-bottom: 100px;
}


/* Choose Your Destination style */

.destination-content{
    text-align: center;
    margin-bottom: 48px;
}
.destination-title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.first-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.Maldives {
    width: 570px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
}

.Maldives p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding: 115px 222px;
}

.Indonesia{
    width: 570px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 8.png'), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}

.Indonesia p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding: 115px 222px;

}

.second-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 24px;
}

.Kashmir{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 9.png'), lightgray 50% / cover no-repeat;
}

.Kashmir p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding: 125px 80px;
}

.North-America{
    width: 474px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
}

.North-America p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding: 125px 137px;
}

.Sri-Lanka{
    width: 374px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
}

.Sri-Lanka p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding: 125px 130px;
}

.third-grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
    margin-top: 24px;
}

.Bangladesh{
    width: 473px;
    height: 300px ;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
}

.Bangladesh p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding: 133px 155px;
}

.Bandarban{
    width: 673px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
}

.Bandarban p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding: 133px 260px;   
}








/* response section */
/* small devive */
@media screen and (max-width:600px) {

    .item-container{
        display: none;
    }

    .tour-plan {
        flex-direction: column;
        gap: 20px
    }

    .tour-plan-img img {
        width: 100%;
    }
    .first-grid, .second-grid, .third-grid{
        grid: none;
        gap: 16px;
    }
    .destination-container{
        margin: 0 20px;
    }
    .Maldives,.Indonesia,.Kashmir,.North-America,.Sri-Lanka,.Bangladesh,.Bandarban{
        width: 335px;
        height: 176px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .Maldives p.Bandarban p{
        position: relative;
        bottom: 60px;
    } 
    /* ,.Indonesia p,.Kashmir p,.North-America p,.Sri-Lanka p,.Bangladesh p, */

}